<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div class="__con">
      <div class="__dot LEFT_SHOULDER" style="background-color: #00ff00"></div>
      <div class="__dot RIGHT_SHOULDER" style="background-color: #ffa500"></div>
      <div class="__dot LEFT_ELBOW" style="background-color: #ff0000"></div>
      <div class="__dot RIGHT_ELBOW" style="background-color: #ff0000"></div>
      <div class="__dot LEFT_WRIST" style="background-color: #ff0000"></div>
      <div class="__dot RIGHT_WRIST" style="background-color: #ff0000"></div>
      <div class="__dot LEFT_HIP" style="background-color: #ff0000"></div>
      <div class="__dot RIGHT_HIP" style="background-color: #ff0000"></div>
      <div class="__dot LEFT_KNEE" style="background-color: #ff0000"></div>
      <div class="__dot RIGHT_KNEE" style="background-color: #ff0000"></div>
      <div class="__dot LEFT_ANKLE" style="background-color: #ff0000"></div>
      <div class="__dot RIGHT_ANKLE" style="background-color: #ff0000"></div>
      <div class="__dot LEFT_HEEL" style="background-color: #ff0000"></div>
      <div class="__dot RIGHT_HEEL" style="background-color: #ff0000"></div>
      <img src="../../static/img/skeleton.png" />
    </div>
</body>
</html>